@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container-bg {
        background: linear-gradient(#0000002f,#000),url('./assets/home/chef-service.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* filter: blur(10px); */

    }
    .myBtn {
        border-bottom: 3px solid #000;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
        border-left: 3px solid transparent;
        font-weight: 500;
        font-size: 20px;
        color: #1F2937;
        transition: all 0.1s;
        padding: 10px 20px;
    }
    .myBtn:hover {
        border-top: 3px solid #000;
        border-right: 3px solid #000;
        border-left: 3px solid #000;
    }
    .customHover img{
        transition:all 0.4s;
    }
    .customHover:hover img{ 
        transform: scale(1.3);
    }
}